.Home {
  display: flex;
  height: 100vh;
}

#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.chat-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-background {
    background-color: #282c34;
  }
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 
  #room-controls {
    margin-bottom: 20px;
  }
  
  #room-controls input {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  #room-controls button {
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
  }
  
  #room-list {
    margin-top: 20px;
  }
  
  #room-list h2 {
    margin-bottom: 10px;
  }
  
  #room-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  #room-list li {
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  #messages {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  #messages li {
    padding: 10px;
    background: #efefef;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  #form {
    display: flex;
  }
  
  #input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  #form button {
    padding: 10px;
  }
  